{# Help-block — the "Help us make our laws better!" call to action.
   Reusable on the home page, /paul/campaign/, and /paul/campaign/empower/.
   No frontmatter required. Place inline:
       {% include "partials/help-block.njk" %}
#}
<aside class="help-block" aria-label="Help us make our laws better">
<h2 class="help-block__heading">Help us make our laws better!</h2>
<p>Rather than rely on paid lobbyists and well-connected staffers and who knows who else, let's just start doing it.</p>
<p>It's a big job. But we can break it down into small parts and let anyone learn as much or as little as they want and still participate meaningfully.</p>
<p>The approach I'm trying is to map the power structures onto the people they actually affect &mdash; that's you.</p>
<p>In theory, we can develop proposals for new regulations or laws (as well as getting rid of ones that have no reasonable purpose). But first, the framework needs human verification. Statistics are easy to check; this won't work unless people go talk to other people in the world and report back. Surveys and other tools are coming, but for now you can see how the mapping of power to representation by constituents is coming along.</p>
<p class="help-block__github">GitHub is open for updates and corrections to existing information. Discussions about future areas can be started with an issue. More user-friendly options for interaction will be added after the development phase.</p>
</aside>
